.box {
    background-image: url(img/background.png);
	position: absolute;
	height: 100%;
	width: 100%;
}
.site {
    width: 1018px;
    height: 991px;
    margin: 0 auto;
    box-shadow: 0 0 2px;
    padding: top;
    
}
header {
    width: 1000px;
    height: 420px;
}

.logo {
    position:absolute;
    top: 18px;
    left: 482px;

}

.photo {
    position:absolute;
    top: 182px;
    width: 1018px;
}
.main_contacs {
    color: #41a1b9;
    float: right;
    position:absolute;
    left: 1271px;
    top: 11px;
}
.contacs, .contacs1 {
    padding-top: 4px;
}
.contacs1 {
    font-weight: bolder;
}
.flag1, .flag2, .flag3, .flag4, .flag5, .flag6 {
    display: inline-block; 
    width: 42px;
    height: 42px;
    padding-right: 10px;
}
.flag5 {
    padding-left: 0px;
    margin-left: 5px;
}
.flag {
    position: absolute;
    left: 1090px;
    top: 122px;
}
.sflag1, .sflag2, .sflag3, .sflag4, .sflag5, .sflag6 {
    font-size: 11px;
    padding-right: 10px;
    display: inline;
	margin-left:6px;
	padding: 5px;
    color: #0C75A0;
}
.main_sflag {
  position: absolute;
    left: 1090px;
    top: 161px;
}
.sflag1{
    padding-left: 0px;
    margin-left: 6px;
}
.sflag2 {
    padding-left: 0px;
    margin-left: 18px;
}
.sflag3 {
    padding-left: 12px;
}
.sflag4{
	padding-right: 0px;
    padding-left: 13px;
}

.sflag5 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 16px;
 }
.sflag6{
    padding-left: 0px;
    margin-left: 2px;
}
.fg {
    color: #128aa7;
}
menu {
   width: 1018px;
    height: 30px;
    background-color: #343434;
}
.main_menu {
    text-decoration: none;
     }
